@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-image: url("https://cdn.vox-cdn.com/thumbor/dpbOnOEQAnCM8Dv0R2P5z9Y8f2U=/0x0:2040x1360/1375x1375/filters:focal(857x517:1183x843):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/64035800/acastro_190618_1777_cloud_gaming_0003.0.jpg");
  background-repeat: no-repeat;
  background-size: 1000px 1000px;
}
