@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-image: url("game.png");
  background-repeat: no-repeat;
  background-size: 1000px 1000px;
}
